# Segredos
.env
.env.*
!.env.example

# Dependências
node_modules/

# Logs
*.log
logs/
npm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# IDE
.idea/
.vscode/

# Sistema
.DS_Store
Thumbs.db

# PM2
.pm2/
